################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Agenda-Medica/obj/Debug/netcoreapp2.2/AgendaMedicaAPI.assets.cache
/Agenda-Medica/obj/Debug/netcoreapp2.2/AgendaMedicaAPI.RazorAssemblyInfo.cs
/Agenda-Medica/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Agenda-Medica/.vs/AgendaMedicaAPI/v15/Server/sqlite3
/Agenda-Medica/obj/Debug/netcoreapp2.2/AgendaMedicaAPI.csprojAssemblyReference.cache
/Agenda-Medica/obj/Debug/netcoreapp2.2/AgendaMedicaAPI.RazorAssemblyInfo.cache
/Agenda-Medica/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Agenda-Medica/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Agenda-Medica/obj/Release/netcoreapp2.2/AgendaMedicaAPI.assets.cache
/Agenda-Medica/obj/Release/netcoreapp2.2/AgendaMedicaAPI.RazorAssemblyInfo.cache
/Agenda-Medica/obj/Release/netcoreapp2.2/AgendaMedicaAPI.RazorAssemblyInfo.cs
/Agenda-Medica/obj/AgendaMedicaAPI.csproj.nuget.cache
/Agenda-Medica/obj/AgendaMedicaAPI.csproj.nuget.g.props
/Agenda-Medica/obj/AgendaMedicaAPI.csproj.nuget.g.targets
