<h1>Lista de tarefas</h1>

<p>Lista de tarefas.</p>

<p *ngIf="!tasks"><em>Carregando...</em></p>

<p>
  <a [routerLink]="['/register-tasks']">Criar novo</a>
</p>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th>Código</th>
      <th>Cliente</th>
      <th>Data de inicio</th>
      <th>Data de fim</th>
      <th>Observações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.client.id }} - {{ task.client.name }}</td>
      <td>{{ task.dateStart }}</td>
      <td>{{ task.dateEnd }}</td>
      <td>{{ task.observation }}</td>
      <td>
        <a [routerLink]="['/tasks/edit/', task.id]">Editar</a> |
        <a [routerLink]="" (click)="delete(task.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
